
/* Search container */
#search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

#search-input {
    width: 80%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}


/* like and info btn */
#like-info-btn{
    display: flex;
    justify-content: space-between;
}

.like-div,
.meal-info-btn {
    cursor: pointer;
    margin: 0.5rem;
    width: 27px;
    border-radius: 50%;
}

.like-div:hover,
.meal-info-btn:hover {
    background-color: #ff6347;
    color: aqua;
}
.like-div.liked  {
    background-color: #ff6347;
}



/* Responsive Styles */
@media only screen and (max-width: 768px) {
    #search-input {
        width: 100%;
    }

    .suggestion-item {
        width: calc(50% - 1rem);
    }
}

@media only screen and (max-width: 480px) {
    #header {
        flex-direction: column;
        text-align: center;
    }

    #heading {
        margin: 0.5rem 0;
    }

    .suggestion-item {
        width: 100%;
    }
}