
body{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(72, 187, 157, 1) 35%, rgba(0, 212, 255, 1) 100%);

    color: #ffffff;
}


.container {
    text-align: center;
}

#favourites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid black;
}

#suggestions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid black;
}

.strMealThumb {
    height: 200px;
    width: 190px;
}

.suggestion-item {
    height: 300px;
    width: 200px;
}

#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#logo-img {
    height: 50px;
    width: 50px;
}

.like-div {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(74, 150, 213);
}

.liked {
    background-color: red;
}


#meal-img img{
    width: 30%;
    height: auto;
}


div {
    border: 2px solid red;
    margin: 5px;
}